/scripts/config.php
/scripts/polonex-bot/config.php
/scripts/php-localcoin/vendor/*
/scripts/amount.json
/sources/*
/autodeploy/*
/downloads/*
.*
!/.gitignore
/scripts/*.csv
/scripts/airdrop/*.csv
calculate.php