@charset "UTF-8";
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */

// Settings
// ==================================================
$hamburger-padding-top                     : 10px !default;
$hamburger-padding-right                   : 5px !default;
$hamburger-padding-bottom                  : 5px !default;
$hamburger-padding-left                    : 5px !default;
$hamburger-layer-width                     : 37px !default;
$hamburger-layer-height                    : 3px !default;
$hamburger-layer-spacing                   : 7px !default;
$hamburger-layer-color                     : #ffffff !default;
$hamburger-layer-border-radius             : 0 !default;
$hamburger-hover-opacity                   : 0.9 !default;
$hamburger-hover-transition-duration       : 0.15s !default;
$hamburger-hover-transition-timing-function: linear !default;

// To use CSS filters as the hover effect instead of opacity,
// set $hamburger-hover-use-filter as true and
// change the value of $hamburger-hover-filter accordingly.
$hamburger-hover-use-filter: false !default;
$hamburger-hover-filter    : opacity(50%) !default;

// Types (Remove or comment out what you don’t need)
// ==================================================
$hamburger-types: (
  spring,
  squeeze
) !default;

// Base Hamburger (We need this)
// ==================================================
@import "base";

// Hamburger types
// ==================================================
@import "types/spring";
@import "types/squeeze";

