doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content='')
		title Localcoin
		// CSS
		link(href='css/style.css', rel='stylesheet', media='screen')
	body
		.wrapper
			header#header.header
				.container
					.hamburger.hamburger--squeeze
						.hamburger-box
							.hamburger-inner
					a.header__logo(href='#')
						img(src='img/logo.png', srcset='img/logo-2x.png 2x', alt='Localcoin')
					.header__nav(style='display:none')
						ul
							li
								a(href='#advantages') Why
							li
								a(href='#trading') Trading
							li
								a(href='#tokeninfo') Token info
							li
								a(href='#roadmap') Road map
							li
								a(href='#download') Download
					.header__right-menu
						ul
							li
								a.btn-blue.btn-blue_small#buy_coin_header(href='#') Buy LLC
							li
								a.btn-blue.btn-blue_small.sign-in#signIn(href='#') Sign In
							li
								a.whitepaper(href='#') WP
							li
								a.whitelabel(href='#') WL
							li
								.header__lang.select.select-lang
									input.select_hidden(type='hidden', value='1')
									.select_in.select-lang_in
										span.select_title.select-lang_title
											img(src='img/eng.png', srcset='img/eng-2x.png 2x', alt='eng')
										i.select_arrow.select-lang_arrow
									ul.select_list.select-lang_list
										li.is-active(data-value='1')
											img(src='img/eng.png', srcset='img/eng-2x.png 2x', alt='eng')
										li(data-value='2')
											img(src='img/svg/rus.svg', alt='rus')


			section#main.main
				.main__bg
					video(preload='auto', autoplay, loop, muted, tabindex='0')
						source(src='img/main_bg_3.mp4', type='video/mp4')
					video(preload='auto', autoplay, loop, muted, tabindex='0')
						source(src='img/main_bg_2.mp4', type='video/mp4')
					video(preload='auto', autoplay, loop, muted, tabindex='0')
						source(src='img/main_bg.mp4', type='video/mp4')
				.container
					.main__tab-links.tab-links
						ul
							li
								a.gradient-text.active(href='#preSale') Pre-sale
							li
								a.gradient-text(href='#airDrop') AirDrop
					#preSale.main__tab.active
						.pre-sale
							.ps-circuit
								.ps-coin-hover
									a(href="#").btn-yellow#coin_hover_btn Buy LLC
								.pre-sale__slider-wrap
									.pre-sale__slider
										.pre-sale__slide
											a.ps-circuit__item.ps-circuit__item_01.item-hover(href='#')
												.item-img.item-img_01
													img(src='img/icons/pre-sale_ico1.png', srcset='img/icons/pre-sale_ico1-2x.png 2x', alt='icon1')
												h4
													| Decentralised 
													br
													| Bank
												.item-desc
													h4
														| Decentralised 
														br
														| Bank
													p
														| No one can block your wallet or request your ID, Fully anonymous banking facility.
										.pre-sale__slide
											a.ps-circuit__item.ps-circuit__item_02.item-hover(href='#')
												.item-img.item-img_02
													img(src='img/icons/pre-sale_ico2.png', srcset='img/icons/pre-sale_ico2-2x.png 2x', alt='icon2')
												h4
													| Decentralised 
													br
													| chat
												.item-desc
													h4
														| Decentralised 
														br
														| chat
													p Blockchain based fully encrypted decentralised personal and group chats.
										.pre-sale__slide
											a.ps-circuit__item.ps-circuit__item_03.item-hover(href='#')
												.item-img.item-img_03
													img(src='img/icons/pre-sale_ico3.png', srcset='img/icons/pre-sale_ico3-2x.png 2x', alt='icon3')
												h4
													| OTC
													br
													| Trading
												.item-desc
													h4
														| OTC
														br
														| Trading
													p
														| Over-the-counter (OTC) or off-exchange trading is done directly between two parties, without the supervision of an exchange. 
														span.md-lg-hidden
															| It is contrasted with exchange trading, which occurs via exchanges. A stock exchange has the benefit of facilitating liquidity, providing transparency, and maintaining the current market price. In an OTC trade, the price is not necessarily published for the public.
										.pre-sale__slide
											a.ps-circuit__item.ps-circuit__item_04.item-hover(href='#')
												.item-img.item-img_04
													img(src='img/icons/pre-sale_ico4.png', srcset='img/icons/pre-sale_ico4-2x.png 2x', alt='icon4')
												h4
													| ICO
													br
													| Accelerator
												.item-desc
													h4
														| ICO
														br
														| Accelerator
													p
														| Start your own ICO. You can issue your own token and list it for trading in just 5 min.
										.pre-sale__slide
											a.ps-circuit__item.ps-circuit__item_05.item-hover(href='#')
												.item-img.item-img_05
													img(src='img/icons/pre-sale_ico5.png', srcset='img/icons/pre-sale_ico5-2x.png 2x', alt='icon5')
												h4
													| Untraceable
													br
													| Transactions
												.item-desc
													h4
														| Untraceable
														br
														| Transactions
													p
														| Fully private accounts with no tracing. Your personal chain is encrypted and no-one can see your transactions.
										.pre-sale__slide
											a.ps-circuit__item.ps-circuit__item_06.item-hover(href='#')
												.item-img.item-img_06
													img(src='img/icons/pre-sale_ico6.png', srcset='img/icons/pre-sale_ico6-2x.png 2x', alt='icon6')
												h4 Mining
												.item-desc
													h4 Mining
													p Everyone can mine LLC by running a full node to support the network.
										.pre-sale__slide
											a.ps-circuit__item.ps-circuit__item_07.item-hover(href='#')
												.item-img.item-img_07
													img(src='img/icons/pre-sale_ico7.png', srcset='img/icons/pre-sale_ico7-2x.png 2x', alt='icon7')
												h4
													| Social
													br
													| Network
												.item-desc
													h4
														| Social
														br
														| Network
													p
														| Blockchain based and fully encrypted decentralised Social network. 
														span.md-lg-hidden
															| Forget about facebook, google or twitter tracking, blocking or annoying adds. True democracy supported by blockchain network
										.pre-sale__slide
											a.ps-circuit__item.ps-circuit__item_08.item-hover(href='#')
												.item-img.item-img_08
													img(src='img/icons/pre-sale_ico8.png', srcset='img/icons/pre-sale_ico8-2x.png 2x', alt='icon8')
												h4
													| Decentralised
													br
													| trading
												.item-desc
													h4
														| Decentralised
														br
														| trading
													p
														| From day one You can trade with others without limits. 100k Transaction per second. Block generated every 3 seconds.
					#airDrop.main__tab
						.air-drop
							.row
								.col-md-6
									.air-drop__left-block
										h3.wow.fadeInUp
											a(href='#')
												| Get you 
												span first 100 
												| LLC for 
												span free 
												| NOW!
										p.wow.fadeInUp
											| In order to get you free 100 LLC just 
											a(href='#') sing up here
											|  and type your ACCOUNT NAME 
											a(href='#') here
											| . Your wallet will be credited with 100 LLC instantly.
										.air-drop__chart-label.wow.fadeInUp
											span 46 100 322 
											| LLC AirDroped
										.air-drop__chart
											.air-drop__chart-inner
												svg.mainSVG(viewbox='0 0 800 600', xmlns='http://www.w3.org/2000/svg', preserveaspectratio='xMidYMid meet')
													g#graphTextGroup(opacity='0.5')
														text(transform='translate(48.33 473.71)', font-size='18', fill='#fff', font-family='Roboto', font-weight='700') 0
														text(transform='translate(48.33 301.71)', font-size='18', fill='#fff', font-family='Roboto') 200
														text(transform='translate(48.33 101.71)', font-size='18', fill='#fff', font-family='Roboto') 400
													g#horizontalLinesGroup(fill='none', opacity='1', stroke='#FFF', stroke-miterlimit='10')
														line(x1='780', y1='481.7', opacity='0.3', x2='30', y2='481.7')
														line(x1='780', y1='381.7', opacity='0.3', x2='30', y2='381.7')
														line(x1='780', y1='281.7', opacity='0.3', x2='30', y2='281.7')
														line(x1='780', y1='181.7', opacity='0.3', x2='30', y2='181.7')
														line(x1='780', y1='81.7', opacity='0.3', x2='30', y2='81.7')
													g#uiGroup
														path#graphLine(fill='none', stroke-linecap='round', stroke='#F79819', stroke-width='4', stroke-miterlimit='1.0', d='M94.6,405.1														c62.9-95,109.2-111.7,142.4-103.8c44.6,10.6,74.8,67.9,143.4,63.8c35-2.1,32.7-17.4,73.9-21.7c77.7-8.2,105.9,44,136.3,13.6														c30.6-30.5,10.8-91.7,44.9-127.5c29.1-30.6,56.7,0,94.1-33.9c20.6-18.6,32.6-46.2,39.6-66.5')
														g#connectorGroup
															line#connector(x1='92', x2='92', y1='2', y2='2', stroke='#FFF')
														g.box
															rect(x='0', width='80', height='40', rx='20', ry='20', fill='#FFF')
															text#boxLabel(x='40', y='28')
													circle#nullDot(fill='red', cx='0', cy='0', r='0')
													circle#graphDot(fill='#FFF', cx='0', cy='0', r='10')
													circle#dragger(fill='rgba(240,240,240,0.1)', cx='0', cy='0', r='15', stroke='rgba(240,240,240,0.05)', stroke-width='10')
													lineargradient#boxGrad(gradientunits='userSpaceOnUse', x1='65.7809', y1='25.7808', x2='14.2194', y2='25.7808', gradienttransform='matrix(-5.857245e-007 -1 1 -5.872379e-007 14.2192 65.7809)')
														stop(offset='0.3858', style='stop-color:#E4386D')
														stop(offset='0.7513', style='stop-color:#CF2156')
										.air-drop__progress
											span.s-left 56 100 322 LLC AirDropped
											.air-drop__progress-bar
												span.s-left.s-black 56 100 322 LLC AirDropped
											span.s-right 56 100 322 LLC left
								.col-md-6
									.air-drop__right-block.wow.fadeInUp(data-wow-duration='1.5s')
										h3 Limited Airdrop
										h4 We will AirDrop 10,000,000 free Coins(LLC)
										span to Telegram and Twitter users from 1st of Aug till the end of ICO Campaign
										p
											| From the 20th of August will be announced enhanced Bounty program with Twitter and Telegram participation. All scores of Grand AirDrop will be saved and announced to participants.
										.air-drop__reg-links
											a.btn-yellow.btn-yellow_small(href='#') Register now
											span
												a(href='#') Click here 
												| to understand why 
												a(href='#') LocalCoin is better 
												| than others


			section#advantages.advantages
				.container
					.row
						.col-md-10.offset-md-1.col-lg-8.offset-lg-2
							a.advantages__video(href='https://www.youtube.com/watch?v=j90Sgieta7s?autoplay=1', data-fancybox='')
								img(src='img/video_bg.png', alt='video')
								h2.wow.fadeInUp Why LocalCoin
					.advantages__table-wrap
						.advantages__table
							.advantages__table-inner
								table.a-table-fixed
									thead
										tr
											th(style='width:22%')  
											th(style='width:9%')
												.t-logo
													img(src='img/lc-logo.png', alt='logo')
												span LocalCoin.is
											th(style='width:9%')
												.t-logo
													img(src='img/lbc-logo.png', alt='logo')
												span LocalBitcoin
											th(style='width:9%')
												.t-logo
													img(src='img/gdax.png', alt='logo')
												span GDAX
											th(style='width:9%')
												.t-logo
													img(src='img/okex.png', alt='logo')
												span OKEx
											th(style='width:9%')
												.t-logo
													img(src='img/bin.png', alt='logo')
												span Binance
											th(style='width:9%')
												.t-logo
													img(src='img/bitf.png', alt='logo')
												span Bitfinex
											th(style='width:9%')
												.t-logo
													img(src='img/huobi.png', alt='logo')
												span Huobi
											th(style='width:9%')
												.t-logo
													img(src='img/hitbtc.png', alt='logo')
												span HitBTC
											th  
									tbody
										tr
											td
											td
											td
											td
											td
											td
											td
											td
											td
											td

								table.a-table
									thead
										tr
											th(style='width:22%')  
											th(style='width:9%')
												.t-logo
													img(src='img/lc-logo.png', alt='logo')
												span LocalCoin.is
											th(style='width:9%')
												.t-logo
													img(src='img/lbc-logo.png', alt='logo')
												span LocalBitcoin
											th(style='width:9%')
												.t-logo
													img(src='img/gdax.png', alt='logo')
												span GDAX
											th(style='width:9%')
												.t-logo
													img(src='img/okex.png', alt='logo')
												span OKEx
											th(style='width:9%')
												.t-logo
													img(src='img/bin.png', alt='logo')
												span Binance
											th(style='width:9%')
												.t-logo
													img(src='img/bitf.png', alt='logo')
												span Bitfinex
											th(style='width:9%')
												.t-logo
													img(src='img/huobi.png', alt='logo')
												span Huobi
											th(style='width:9%')
												.t-logo
													img(src='img/hitbtc.png', alt='logo')
												span HitBTC
											th  
									tbody
										tr
											td.text-left Blockchain based platfrom
											td
												.t-plus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td  
										tr
											td.text-left Decentralization
											td
												.t-plus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td  
										tr
											td.text-left Anonymity
											td
												.t-plus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td  
										tr
											td.text-left OTC (over the counter) Trading
											td
												.t-plus
											td
												.t-plus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-plus
											td
												.t-plus
											td
												.t-plus
											td  
										tr
											td.text-left Cannot block your account
											td
												.t-plus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td  
										tr
											td.text-left No coin listing approval
											td
												.t-plus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td  
										tr
											td.text-left eWallet (Internal trasfers)
											td
												.t-plus
											td
												.t-plus
											td
												.t-plus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td  
										tr
											td.text-left No account verification
											td
												.t-plus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td  
										tr
											td.text-left No trading limits
											td
												.t-plus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td  
										tr
											td.text-left No withdrawal imits
											td
												.t-plus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td  
										tr
											td.text-left No account suspension
											td
												.t-plus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td  
										tr
											td.text-left Public reports
											td
												.t-plus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td  
										tr
											td.text-left Decentralised chat
											td
												.t-plus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td  
										tr
											td.text-left Untraceable transactions
											td
												.t-plus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td  
										tr
											td.text-left Mobile App
											td
												.t-plus
											td
												.t-minus
											td
												.t-plus
											td
												.t-plus
											td
												.t-plus
											td
												.t-plus
											td
												.t-plus
											td
												.t-plus
											td  
										tr
											td.text-left Desktop app
											td
												.t-plus
											td
												.t-minus
											td
												.t-plus
											td
												.t-plus
											td
												.t-plus
											td
												.t-plus
											td
												.t-plus
											td
												.t-plus
											td  
										tr
											td.text-left Transactions per second
											td.t-best 100k
											td.t-na n.a.
											td.t-na n.a.
											td.t-na n.a.
											td.t-na n.a.
											td.t-na n.a.
											td.t-na n.a.
											td.t-na n.a.
											td  
										tr
											td.text-left Fees
											td.t-best Free
											td 1%
											td 0.50%
											td 0.20%
											td 0.10%
											td 0.20%
											td 0.20%
											td 0.10%
											td  
										tr
											td.text-left Has been hacked before
											td.t-best Not possible
											td Yes
											td Yes
											td Yes
											td Yes
											td Yes
											td Yes
											td Yes
											td  
										tr
											td.text-left Payment processing
											td
												.t-plus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td  
										tr
											td.text-left Social Networking
											td
												.t-plus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td  
										tr
											td.text-left Core coin
											td.t-best LLC
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td.t-best BNB
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td  
										tr
											td.text-left Multi-signature account
											td
												.t-plus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td
												.t-minus
											td  


			section#trading.trading
				.container
					h2.wow.fadeInUp LocalCoin Trading Terminal
					.row
						.col-md-6.offset-md-6
							.trading__item.trading__item_01.wow.fadeInUp
								h5 Zero Trading fee
								p There is no trading fees apart from the network ridiculously low commission. All you pay is fixed network fees just to push your transactions into the blockchain.
							.trading__item.trading__item_02.wow.fadeInUp
								h5 High performance
								p A Blockchain-based system that handles 100,000 transactions per second, with Bitcoin and Ethereum being not even close to that.
							.trading__item.trading__item_03.wow.fadeInUp
								h5 Stealth mode
								p Zero-knowledge super-secure transactions ('unknown' sent 'n' 'unknown' to 'unknown')". That means you can place blind transactions from your account to a secret account that cannot be viewed via any blockexplorer.
							.trading__item.trading__item_04.wow.fadeInUp
								h5 Maximum security
								p We don't have access to your account, simply because it is only You who hold secret key to it. There no way centralised trading platforms can compete with decentralization, full encryption, total anonymity, cold storage, rigorous access management.

			section#tokeninfo.tokeninfo
				.container
					h2.wow.fadeInUp Token info
					.row
						.col-lg-10
							.tokeninfo__tab-links.tab-links
								ul
									li
										a.active(href='#shares')
											span.xs-hidden Allocation of shares
											span.xs-visible Shares
									li
										a(href='#useOfFunds') Use of funds
							#shares.tokeninfo__tab.active
								.tokeninfo__chart
									canvas#sharesChart(width='380', height='380')
									.chart-item-value
								#sharesChartLegend.tokeninfo__chart-legend.chart-legend
									ul
										li.chart-legend__item.chart-legend__item_01.wow.fadeInUp
											a(href='#' data-value='10%')
												| 10% (10 000 000 LLC) 
												br
												| Air-Drop
												span Automatically paid into the very first 100 000 registered accounts.
										li.chart-legend__item.chart-legend__item_02.wow.fadeInUp
											a(href='#' data-value='10%')
												| 10% (10 000 000 LLC) 
												br
												| Bounty Program
												span allocated to bounty program for community engagement
										li.chart-legend__item.chart-legend__item_03.wow.fadeInUp
											a(href='#' data-value='80%')
												| 80% (90 000 000 LLC) 
												br
												| Public Crowdsale
												span
													| no maximum allocation to investors through entire crowdsale without burn of unsold
										li.chart-legend__desc.wow.fadeInUp
											a(href='#')
												| 1 000 000 000 LLC 
												br
												| Development team
												span allocated to the development team (frozen by contract for 1 year)
							#useOfFunds.tokeninfo__tab
								.tokeninfo__chart
									canvas#useOfFundsChart(width='400', height='400')
									.chart-item-value
								#useOfFundsChartLegend.tokeninfo__chart-legend.chart-legend
									ul
										li.chart-legend__item.chart-legend__item_01
											a(href='#' data-value='90%')
												| 90% ($40 000 000) 
												br
												| BUSINESS DEVELOPMENT & MARKETING
												span
													| For business development, marketing & advertising. LocalCoin will implement broad marketing & advertising strategies to increase the user base of the platform upon launch. These strategies are refined and focused campaigns based on the data and analytics gathered during the LLC issuance.
										li.chart-legend__item.chart-legend__item_02
											a(href='#' data-value='10%')
												| 10% ($5 000 000) 
												br
												| is Allocated for PLATFORM DEVELOPMENT:
												span.chart__small-description
													| 1. Integrate the Blockchain decentralised OTC trading(needed scientific research and 8-10 month development process) - Over-the-counter (OTC) or off-exchange trading is done directly between two parties, without the supervision of an exchange. It is contrasted with exchange trading, which occurs via exchanges. A stock exchange has the benefit of facilitating liquidity, providing transparency, and maintaining the current market price. In an OTC trade, the price is not necessarily published for the public.
												span.chart__small-description
													| 2. Integrate the Social Network(UI and core is ready but needed to be integrated with LLC blockchain) - Blockchain based and fully encrypted decentralised Social network, Forget about facebook , google or twitter tracking, blocking or annoying adds. True democracy supported by blockchain network.
												span.chart__small-description
													| 3. Implement Untraceable transactions(ready needed UI development) - Fully private accounts with no tracing. Your personal chain is encrypted and no-one can see your transactions.
												span.chart__small-description
													| 4. SECURITY. Allocated to increase the security of the platform. LocalCoin offers trading in a large variety of digital assets. To protect against all possible threats multiple layers of redundancy have been implemented in wallet systems, and security critical processes abstracted to separate servers. A large allocation of crowdsale revenue towards security will provide users assurance that LocalCoin is a safe platform on which to trade.
												span.chart__small-description
													| 5. ADMINISTRATION. Allocated for administration costs incurred during the final development of the platform.
												span.chart__small-description
													| 6. For further development and expansion of the platform. This will enhance scalability and the number of features which will be offered on initial launch.
										
						.col-md-10.offset-md-1.col-lg-2.offset-lg-0
							.tokeninfo__details
								h4.wow.fadeInUp Details
								.row
									.col-sm-4.col-lg-12
										ul.details-col-1
											li.wow.fadeInUp
												span Name
												| LocalCoin
											li.wow.fadeInUp
												span Symbol
												| LLC
											li.wow.fadeInUp
												span Timestamping scheme
												| Delegated Proof of Stake and Proof-of-node
									.col-sm-4.col-lg-12
										ul.details-col-2
											li.wow.fadeInUp
												span Transparency
												| Open source
											li.wow.fadeInUp
												span Block time
												| 3 seconds
											li.wow.fadeInUp
												span Witness Block reward
												| 1 LLC
									.col-sm-4.col-lg-12
										ul.details-col-3
											li.wow.fadeInUp
												span Masternode Block reward
												| 0.1 LLC
											li.wow.fadeInUp
												span LLC maximum total supply
												| 3 600 000 000 LLC
											li.wow.fadeInUp
												span Initial total issue
												| 1 110 000 000 LLC
									.col-sm-4.col-lg-12
										ul.details-col-4
											li.wow.fadeInUp
												span Circulating supply
												| 1 110 000 000 LLC
											li.wow.fadeInUp
												span Initial 1 LLC ICO price
												| $ 0.5 US Dollar (USD)
											li.wow.fadeInUp
												span Available through pre-ICO
												| 90 000 000 LLC


			section#roadmap.roadmap
				.container
					h2.wow.fadeInUp Road map

					.roadmap__desk
						.rocket
						.r-item.r-item_01
							span.r-item__year 2018
							span.r-item__month January
							.r-item__desc Founded
						.r-item.r-item_02
							span.r-item__year 2018
							span.r-item__month February
							.r-item__desc Initial team members 
								br
								| established
						.r-item.r-item_03
							span.r-item__year 2018
							span.r-item__month March
							.r-item__desc Concept development
						.r-item.r-item_04
							span.r-item__year 2018
							span.r-item__month August
							.r-item__desc Official Blockchain Launch
						.r-item.r-item_05
							span.r-item__month August
							span.r-item__year 2018
							.r-item__desc Gateway for
								br
								| cryptocurrencies release
						.r-item.r-item_06
							span.r-item__month September
							span.r-item__year 2018
							.r-item__desc AirDrop
						.r-item.r-item_07
							span.r-item__month September
							span.r-item__year 2018
							.r-item__desc Web GUI and
								br
								| Proof-of-node release
						.r-item.r-item_08
							span.r-item__month September
							span.r-item__year 2018
							.r-item__desc Official whitepaper
								br
								| launch
						.r-item.r-item_09
							span.r-item__year 2018
							span.r-item__month October
							.r-item__desc Localcoin ICO and
								br
								| coin presale
						.r-item.r-item_10
							span.r-item__year 2018
							span.r-item__month October
							.r-item__desc Launch date for
								br
								| exchange
						.r-item.r-item_11
							span.r-item__year 2018
							span.r-item__month November
							.r-item__desc Gateway for additional
								br
								| cryptocurrencies release
						.r-item.r-item_12
							span.r-item__year 2019
							span.r-item__month January
							.r-item__desc Localcoin OTC relealse
						.r-item.r-item_13
							span.r-item__month February
							span.r-item__year 2019
							.r-item__desc GUI blind transactions
								br
								| release
						.r-item.r-item_14
							span.r-item__month Q2
							span.r-item__year 2019
							.r-item__desc Trading chat release
								br
								| Proof-of-node release
						.r-item.r-item_15
							span.r-item__month Q3
							span.r-item__year 2019
							.r-item__desc Blockchain Dice
								br
								| release


					.row.roadmap__mob
						.col-md-11.offset-md-1.col-lg-12.offset-lg-0
							ul.row
								li.col-sm-4.col-lg-3.wow.fadeInUp
									.r-item-mob.r-item-mob_complete
										.r-item-mob__header
											span.r-item-mob__year 2018
											span.r-item-mob__month January
										.r-item-mob__body
											span.r-item-mob__desc Founded
								li.col-sm-4.col-lg-3.wow.fadeInUp
									.r-item-mob.r-item-mob_complete
										.r-item-mob__header
											span.r-item-mob__year 2018
											span.r-item-mob__month February
										.r-item-mob__body
											span.r-item-mob__desc Initial team members established
								li.col-sm-4.col-lg-3.wow.fadeInUp
									.r-item-mob.r-item-mob_complete
										.r-item-mob__header
											span.r-item-mob__year 2018
											span.r-item-mob__month March
										.r-item-mob__body
											span.r-item-mob__desc Concept development
								li.col-sm-4.col-lg-3.wow.fadeInUp
									.r-item-mob.r-item-mob_complete
										.r-item-mob__header
											span.r-item-mob__year 2018
											span.r-item-mob__month August
										.r-item-mob__body
											span.r-item-mob__desc Official Blockchain Launch
								li.col-sm-4.col-lg-3.wow.fadeInUp
									.r-item-mob
										.r-item-mob__header
											span.r-item-mob__year 2018
											span.r-item-mob__month August
										.r-item-mob__body
											span.r-item-mob__desc Gateway for cryptocurrencies release
								li.col-sm-4.col-lg-3.wow.fadeInUp
									.r-item-mob
										.r-item-mob__header
											span.r-item-mob__year 2018
											span.r-item-mob__month September
										.r-item-mob__body
											span.r-item-mob__desc AirDrop
								li.col-sm-4.col-lg-3.wow.fadeInUp
									.r-item-mob
										.r-item-mob__header
											span.r-item-mob__year 2018
											span.r-item-mob__month September
										.r-item-mob__body
											span.r-item-mob__desc Web GUI and Proof-of-node release
								li.col-sm-4.col-lg-3.wow.fadeInUp
									.r-item-mob
										.r-item-mob__header
											span.r-item-mob__year 2018
											span.r-item-mob__month September
										.r-item-mob__body
											span.r-item-mob__desc Official whitepaper launch
								li.col-sm-4.col-lg-3.wow.fadeInUp
									.r-item-mob
										.r-item-mob__header
											span.r-item-mob__year 2018
											span.r-item-mob__month October
										.r-item-mob__body
											span.r-item-mob__desc Localcoin ICO and coin presale
								li.col-sm-4.col-lg-3.wow.fadeInUp
									.r-item-mob
										.r-item-mob__header
											span.r-item-mob__year 2018
											span.r-item-mob__month October
										.r-item-mob__body
											span.r-item-mob__desc Launch date for exchange
								li.col-sm-4.col-lg-3.wow.fadeInUp
									.r-item-mob
										.r-item-mob__header
											span.r-item-mob__year 2018
											span.r-item-mob__month November
										.r-item-mob__body
											span.r-item-mob__desc Gateway for additional cryptocurrencies release
								li.col-sm-4.col-lg-3.wow.fadeInUp
									.r-item-mob
										.r-item-mob__header
											span.r-item-mob__year 2019
											span.r-item-mob__month January
										.r-item-mob__body
											span.r-item-mob__desc Localcoin OTC relealse
								li.col-sm-4.col-lg-3.wow.fadeInUp
									.r-item-mob
										.r-item-mob__header
											span.r-item-mob__year 2019
											span.r-item-mob__month February
										.r-item-mob__body
											span.r-item-mob__desc GUI blind transactions release
								li.col-sm-4.col-lg-3.wow.fadeInUp
									.r-item-mob
										.r-item-mob__header
											span.r-item-mob__year 2019
											span.r-item-mob__month Q2
										.r-item-mob__body
											span.r-item-mob__desc Trading chat release
								li.col-sm-4.col-lg-3.wow.fadeInUp
									.r-item-mob
										.r-item-mob__header
											span.r-item-mob__year 2019
											span.r-item-mob__month Q3
										.r-item-mob__body
											span.r-item-mob__desc Blockchain Dice release


			section#download.download
				.container
					h2 Download
					.row
						.col-md-4
							a(href="#").download__item.wow.flipInY
								h4 Web-version
								.download__icon
									img(src="img/svg/d-1.svg", alt="icon")
								.download__text
									span Web based CryptoBridge Exchange and Wallet
						.col-md-4
							a(href="#" data-wow-delay=".2s").download__item.wow.flipInY
								h4 Windows
								.download__icon
									img(src="img/svg/d-2.svg", alt="icon")
								.download__text
									span SHA-256 checksum: 2dfe8465f168c29d98556ea40ce2c789
										br
										| dfa574ee806bc0503a691285584ff2c1
						.col-md-4
							a(href="#" data-wow-delay=".4s").download__item.wow.flipInY
								h4 Mac OS X
								.download__icon
									img(src="img/svg/d-3.svg", alt="icon")
								.download__text
									span SHA-256 checksum: c689e1f31a738f896dd06acd592bd5ae
										br
										| ffdcc1c5e8db8e48b4662f4a2b988b66
						.col-md-4
							a(href="#" data-wow-delay=".6s").download__item.wow.flipInY
								h4 Linux (Debian)
								.download__icon
									img(src="img/svg/d-4.svg", alt="icon")
								.download__text
									span SHA-256 checksum: 6772600955f8f8376b8cd2a01b7c024f
										br
										| 680439d10fb5559942cd48ba8a414090
						.col-md-4
							a(href="#" data-wow-delay=".8s").download__item.wow.flipInY
								h4 GitHub source
								.download__icon
									img(src="img/svg/d-5.svg", alt="icon")
								.download__text
									span Decentralized Exchange client source
						.col-md-4
							.download__item.download__item_empty.wow.flipInY(data-wow-delay="1s")
								.download__icon.download__icon_empty
									img(src="img/svg/d-6.svg", alt="icon")


			section#getfree.getfree
				.container
					.getfree__logo
						img(src='img/d-logo.png', srcset='img/d-logo-2x.png 2x', alt='logo')
					h2.wow.fadeInUp
						| Get 
						span 100 LLC 
						| for 
						span free
					p.wow.fadeInUp
						| The first 100 000 users receive 100 LLC coins after registration on the exchange's website
					a.getfree__btn.btn-yellow(href='#') I want to get Free 100 LLC


			footer#footer.footer
				.container
					ul.footer__social.f-social
						li
							a.f-social__item.f-social__item_vk(href='#')
						li
							a.f-social__item.f-social__item_fb(href='#')
						li
							a.f-social__item.f-social__item_tm(href='#')
						li
							a.f-social__item.f-social__item_04(href='#')
						li
							a.f-social__item.f-social__item_05(href='#')
						li
							a.f-social__item.f-social__item_06(href='#')
						li
							a.f-social__item.f-social__item_07(href='#')
						li
							a.f-social__item.f-social__item_08(href='#')
						li
							a.f-social__item.f-social__item_bt(href='#')
						li
							a.f-social__item.f-social__item_tw(href='#')
						li
							a.f-social__item.f-social__item_yt(href='#')
						li
							a.f-social__item.f-social__item_in(href='#')
					ul.footer__links
						li
							a.footer__wl(href='#') White Label
						li
							a.footer__wp(href='#') White Paper
						li
							a.btn-blue#buy_coin_footer(href='#') Buy LLC coin
					ul.footer__nav.wow.fadeInUp
						li
							a(href='#main') Home
						li
							a(href='#advantages') Why
						li
							a(href='#trading') Trading
						li
							a(href='#tokeninfo') Token info
						li
							a(href='#roadmap') Road map
						li
							a(href='#download') Download
						li
							a(href='#airDrop') AirDrop
					.footer__desc.wow.fadeInUp
						| LocalCoin is THE true democracy decentralised ecosystem where everyone is free to do what they want and to say what they want. LocalCoin is not a company or a person, it is a community of people who shares the same libertarian values and freedoms.


			.popup-modal
				.p-modal
					.p-modal__close
					.p-modal__form
						form.ps-form(action="#")
							.ps-form__input.ps-form__input_num.input-coin
								input(type="number" name="btc" value="0" min="0")
								.ps-form__select.select.select-coin
									input.select_hidden(type='hidden', value='1')
									.select_in.select-coin_in
										span.select_title.select-coin_title BTC
										i.select_arrow.select-coin_arrow
									ul.select_list.select-coin_list
										li.is-active(data-value='1') BTC
										li(data-value='2') CTC
										li(data-value='3') DTC
										li(data-value='4') ETC
										li(data-value='5') FTC
										li(data-value='6') GTC
								.prev-coin
								.next-coin
							.ps-form__arr
							.ps-form__input.ps-form__input_num.input-llc
								input(type="number" name="llc" value="0" min="0")
							.ps-form__input.ps-form__input_text
								input(type="text" placeholder="Your LocalCoin Account name")
								span.ps-form__reg
									| Not a member yet? 
									a(href="#") Register now
							input(type="submit" value="Buy LLC coin").ps-form__btn.btn-yellow


		// jQuery
		script(src='js/jquery-3.3.1.min.js')

		// Plugins for airDrop chart
		script(src='js/TweenMax.min.js')
		script(src='js/Draggable.min.js')
		script(src='js/ThrowPropsPlugin.min.js')
		script(src='js/DrawSVGPlugin.min.js')
		script(src='js/AnticipateEase.min.js')
		script(src='js/MorphSVGPlugin.min.js')

		// Plugins
		script(src='js/wow.min.js')
		script(src='js/slick.min.js')
		script(src='js/fancybox.min.js')
		script(src='js/mCustomScrollbar.min.js')
		script(src='js/Chart.min.js')
		script(src='js/chartjs-plugin-style.min.js')
		script(src='js/Sticky-kit.min.js')

		// JavaScripts
		script(src='js/scripts.js')